# Ambiente virtual
.venv/

# Python cache
__pycache__/
*.py[cod]

# Banco local
instance/*.db

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db